---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <p>Hi, I'm Matt and these are some of the projects that I have been working on.
      I work mainly as a programmer, although I have contributed to other areas such as UI animation, audio, and 360 video stitching.
     I aim to work with the newest and most interesting technologies, especially virtual reality. I see the future of VR as very exciting, 
     as even now with the best headsets, the technology is in its infancy. 
     Every aspect of its design is still something that has can be experimented with.</p>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

<!--     <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
 -->  {%- endif -%}

</div>
