---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
    <p>Hi, I'm Matt, a Unity developer with a strong background in interactive storytelling and VR. 
      As a co-founder of Stave Studios, I led development on <i>Over the Alps</i>, our narrative-driven adventure game. 
      I've also worked on high-profile projects like <i>Peaky Blinders: The King's Ransom</i>, where I crafted VR gameplay systems to bring 1920s Birmingham to life in an immersive story experience.
      Additionally, I've worked on <i>MarcoPolo World School</i>, where I focused on maintaining a high-quality educational app that was frequently updated with fresh content and new features. 
      I'm passionate about contributing to novel, entertaining, and innovative experiences that push the boundaries of what interactive technology can offer.</p>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

<!--     <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
 -->  {%- endif -%}

</div>
